<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
	<div class="container d-flex align-items-center flex-column">
		<!-- Masthead Avatar Image -->
		<img class= "masthead-avatar mb-5" src="/images/avatar.svg" alt="">
		<!-- Masthead Heading -->
		<h1 class="masthead-heading text-uppercase mb-0"> Notre super Team</h1>
		<!-- Masthead Subheading -->
		<p class="masthead-subheading font-weight-light mb-0"> Derniere mise a jour : 28 Octobre 2019</p>
	</div>
</header>

<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">

      <!-- About Section Heading -->
      <h2 class="page-section-heading text-center text-uppercase text-white">A propos</h2>

      <!-- Icon Divider -->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon">
          <i class="fas fa-star"></i>
        </div>
        <div class="divider-custom-line"></div>
      </div>

      <!-- About Section Content -->
      <div class="row">
        <div class="col-lg-4 ml-auto">
          <p class="lead"> Etant un groupe impaire, j'ai pris la liberte d'etre seul pour ce projet. Donc n'etant pas reellement une equipe, je peux en profiter pour parler de mon projet.</p>
        </div>
        <div class="col-lg-4 mr-auto">
          <p class="lead"> Ancien responsable de production dans l'industrie, j'ai l'envie depuis quelques annees de creer ma propre entreprise. Fan de voyage, je suis regulierement frustre de devoir passer des heures pour organiser mes voyages. J'ai donc decide de creer mon propre outil pour creer des plannings de voyages.</p>
        </div>
      </div>

      <!-- About Section Button -->
      <div class="text-center mt-4">
	      <p> Envie de decouvrir mon site ? </p>
	      <a class="btn btn-xl btn-outline-light" href="https://citylib.co/">Lien vers mon site</a>
      </div>

    </div>
  </section>

